.BoardContainer{
  height: 1000px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(#D5E6FA, #9BC8FF, #9FF6D4,  #B9F9A0 );
}

.Boards {
  width: 280px;
  height: 400px;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: scroll;
}

.NewBoard {
  margin: 10px;
}

.NewBoardInput {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  width: 180px;
  height: 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 30px;
}

.NewBoardInput:focus {
  outline: none;
}

.AddIcon:hover {
  cursor: pointer;
}
