.board-container {
  height: 100vh;
  width: 250px;
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-y: scroll;
}

.board-header {
  font-size: 3rem;
  margin: auto;
  padding: 10px;
  width: 90%;
  text-align: center;
  overflow-wrap: break-word;
}

.new-board-input {
  text-align: center;
  padding: 0.25rem;
  margin-top: 3rem;
  border-radius: 30px;
}

.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.icon-button:hover {
  cursor: pointer;
}
