.board-content {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.board {
  padding: 1rem;
}

.board-header {
  font-size: 2rem;
  margin: auto;
  padding: 10px;
}

.board-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.icon-button:hover {
  cursor: pointer;
}
