.kanban-card {
  background: white;
  border: 2px solid #2471a3;
  margin: 0.125rem;
  padding: 1.5rem;
  width: 12rem;
  height: 10rem;
  line-height: 1.5rem;
  overflow: hidden;
}

.darken-card {
  background: gray;
  margin: 0.125rem;
  padding: 1.5rem;
  width: 12rem;
  height: 10rem;
  opacity: 0.5;
}
