.card-container {
  text-align: center;
  overflow-wrap: break-word;
}

.card {
  border: 2px solid#2471A3;
  margin: 1rem;
  padding: 0.5rem;
  width: 190px;
  background: white;
  overflow: hidden;
}
